In [1]:
import pandas as pd
import numpy as np

pd.options.display.float_format = '{:.2f}'.format

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.dates as mdates
from datetime import datetime

In [3]:
from matplotlib import font_manager, rc
font_path = "C:/Windows/Fonts/NGULIM.TTF"
font = font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font)

In [5]:
skt = pd.read_excel('Desktop/그래프/SKT_영상음원구독.xlsx')
skt

          년월       시도  성별  나이        영상 사용량        음원 사용량
0     202001    서울특별시   1  10   25084335801   14175038810
1     202001    서울특별시   1  20  429184914529  137893238004
2     202001    서울특별시   1  30  761406541643  115023303282
3     202001    서울특별시   1  40  605275167287   31206993743
4     202001    서울특별시   1  50  213258492689   11824189332
...      ...      ...  ..  ..           ...           ...
9277  202303  제주특별자치도   2  30   45465587099    3376079398
9278  202303  제주특별자치도   2  40   59736858299    2559638770
9279  202303  제주특별자치도   2  50   21932478123     762149714
9280  202303  제주특별자치도   2  60    9376981533     402057897
9281  202303  제주특별자치도   2  70    2181420544      77578728

[9282 rows x 6 columns]

In [11]:
skt = skt.groupby(['년월','시도'],as_index=False)[['영상 사용량', '음원 사용량']].sum()
skt.to_excel('skt_시도별_사용량.xlsx', index=False)